@page "/"
@layout MainLayout
@attribute [Authorize]


@* TODO: Основная страница с товарами с фильтрацией и пагинацией *@
<PageTitle>Home</PageTitle>


<div class="center">
    <div>1234</div>
</div>




