@page "/forgot-password"
@using System.ComponentModel.DataAnnotations
@inherits ForgotPasswordBase

@if (IsSuccess)
{
    <SuccessRegister/>
}
else
{
    <MudStack Row="true" Justify="Justify.Center" Class="pa-6 mt-6">
        <MudPaper Class="pa-6" Elevation="2">
            <EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
                <MudText Typo="Typo.h4" GutterBottom="true" Class="mb-3">Восстановление пароля</MudText>
                <MudText Typo="Typo.body1" Align="Align.Center" GutterBottom="true" Class="mb-3">Введите свой email для сброса пароля</MudText>
                <MudAlert Severity="Severity.Error" Class="@(ShowErrors ? "mb-3 d-block" : "d-none")">
                    @Error
                    <br />
                    @ErrorDetail
                </MudAlert>

                <MudTextField T="string"
                              @bind-Value="Model.Email" For="@(() => Model.Email)"
                              Label="Email"
                              HelperText="Input your email"
                              Required="true"
                              RequiredError="Email is required"
                              Validation="@(new EmailAddressAttribute { ErrorMessage = "The email address is invalid" })"/>

            
                <div class="justify-content-center mt-4">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               Size="Size.Large"
                           
                               ButtonType="ButtonType.Submit">Сбросить</MudButton>
                    <MudText Align="Align.Center" Class="mt-4">Нет аккаунта? <MudLink Href="/register">Зарегистрируйтесь</MudLink></MudText>
                    <MudText Align="Align.Center" Class="mt-4">Уже есть аккаунт? <MudLink Href="/login">Войти</MudLink></MudText>
                </div>
           
            </EditForm>
        </MudPaper>
    </MudStack>
}
