
<MudDialog>
	<DialogContent>
		<MudCarousel
			Class="mud-width-full"
			@ref="_carousel"
			ItemsSource="@Images"
			Style="height:400px;"
			ShowArrows="true"
			ShowBullets="true"
			EnableSwipeGesture="true"
			AutoCycle="false">
			<ItemTemplate>
				<div class="d-flex  justify-content-center" style="height:100%;">
					<MudImage Src="@context"
					          Height="400"
					          ObjectPosition="ObjectPosition.Center"
					          Elevation="25" 
					          Class="rounded-lg ma-4"/>
				</div>
			</ItemTemplate>
            
		</MudCarousel>
		
	</DialogContent>
    
</MudDialog>

@code {
	[Parameter] public List<string> Images { get; set; }
    private MudCarousel<string> _carousel;

}