@inherits MyProductsBase

<MudText Typo="Typo.h5" Align="Align.Center">Список моих товаров</MudText>
<div class="mb-8">
    @if (Products is null)
    {
        <MudProgressCircular Color="Color.Default" Indeterminate="true" />
    }
    else
    {
        <InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="@(async e => await LoadProducts())">
            <MudGrid Spacing="5" Justify="Justify.FlexStart" Class="mt-8">
                @foreach (var product in Products.Items)
                {
                    <MudItem>
                        <ProductCard IsEditable="true" Model="@product"/>
                    </MudItem>
                }
    
                <div id="observerTarget"></div>
            </MudGrid>
        </InfiniteScroll>
    }

    <div class="d-flex justify-content-center">
        <MudButton Class="mt-6" Href="product" Variant="Variant.Filled" Color="Color.Primary">Создать</MudButton>
    </div>
</div>




