@inherits ProductImageBase

<MudCarousel
	Class="mud-width-full"
	@ref="_carousel"
	ItemsSource="@ImageUrls"
	Style="height:400px;"
	ShowArrows="true"
	ShowBullets="true"
	EnableSwipeGesture="true"
	AutoCycle="false">
		<ItemTemplate>
			<div class="d-flex  justify-content-center" style="height:100%;">
				<MudImage ObjectPosition="ObjectPosition.Center" 
				          Width="400"
				          Height="400"
				          Src="@context" 
				          Elevation="25" 
				          Class="rounded-lg ma-4"/>
			</div>
		</ItemTemplate>

</MudCarousel>


<br />

@code {
	private MudCarousel<string> _carousel;
	[Parameter] public IList<string> ImageUrls { get; set; }
}