@inherits ProductImageBase

@* TODO: Здесь будет карусель из фотографии товаров *@


<MudCarousel
	Class="mud-width-full"
	@ref="_carousel"
	ItemsSource="@_source"
	Style="height:400px;"
	ShowArrows="true"
	ShowBullets="true"
	EnableSwipeGesture="true"
	AutoCycle="false">
		<ItemTemplate>
			<div class="d-flex  justify-content-center" style="height:100%;">
				<MudImage ObjectPosition="ObjectPosition.Center" 
				          Width="400"
				          Height="400"
				          Src="/images/бусы.jpg" 
				          Elevation="25" 
				          Class="rounded-lg ma-4"/>
			</div>
		</ItemTemplate>

</MudCarousel>


<br />

@code {
	private MudCarousel<string> _carousel;
	private IList<string> _source = new List<string>() { "Item 1", "Item 2", "Item 3", "Item 4", "Item 5" };
	private int selectedIndex = 2;

	private async Task AddAsync()
	{
		_source.Add($"Item {_source.Count + 1}");
		await Task.Delay(1);
		_carousel.MoveTo(_source.Count - 1);
	}

	private async Task DeleteAsync(int index)
	{
		if (_source.Any())
		{
			_source.RemoveAt(index);
			await Task.Delay(1);
			_carousel.MoveTo(System.Math.Max(System.Math.Min(index, _source.Count - 1), 0));
		}

	}

}