@inherits ReviewsBase

@* <MudGrid Class="mt-4"> *@

<MudText Class="mb-4" Style="font-weight: bold;" Typo="Typo.h5">Отзывы</MudText>

<MudDivider Class="mb-4" />
    
    
    @if (false)
    {
        <MudItem xs="8" Class="mt-4 d-flex justify-content-center align-items-center">
            <div class="mt-4">
                <div class="mt-4 mb-2 d-flex justify-content-center align-items-center">
                    <MudIcon
                        Icon="@Icons.Material.Filled.SentimentVeryDissatisfied"
                        Size="Size.Large"/>
                </div>
                <MudText Typo="Typo.body1">Будьте первым кто оставит отзыв!</MudText>
            </div>
           
            
        </MudItem>
    }
    else
    {
        for (int i = 0; i < 6; i++)
        {
            <MudItem xs="12">
                <MudText Typo="Typo.h6" Style="font-weight: bold; font-size: 18px;">Nickname</MudText>   
                <div class="review-stat d-flex">
                    <MudRating ReadOnly="true" SelectedValue="2" Size="Size.Small" />
                    <MudText Class="ml-2" Typo="Typo.body1">19.02.2024</MudText>
                </div>
                
                <MudText Class="mt-4 mb-4" Typo="Typo.body1">Описание ббольшое флдвыофэывжлж двлойджцво йвойлыво йдвлодйлво дйвойдлвойдцлов йждцв</MudText>
            </MudItem>
        
            <MudDivider/>
        }

        <MudItem Class="mt-4" xs="12">
            <EditForm Model="Model" OnValidSubmit="OnValidSubmit">
                <MudText Class="mb-4" Typo="Typo.h6" Style="font-weight: bold;">Оставьте отзыв</MudText>
                
                <div class="d-flex">
                    <MudRating Class="mr-2" @bind-SelectedValue="Model.Rating" />
                    <MudText Typo="Typo.body1">Ваша оценка</MudText>
                </div>
                
                <MudTextField T="string" 
                              Class="mb-4"
                              @bind-Value="Model.Comment"
                              Variant="Variant.Outlined" 
                              Placeholder="Введите текст..."
                              Lines="5" />
                
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           Disabled="@(!IsSuccess())"
                           Size="Size.Large"
                           OnClick="@(async () => await OnValidSubmit())"
                           Class="ml-auto">Сохранить</MudButton>
            </EditForm>
        </MudItem>
    }
    
@* </MudGrid> *@

