
<div class="justify-content-center mt-4">
    <MudText>Вы успешно зарегистрировались! Вам на почту отправлено сообщение, пожайлуста, перейдите по ссылке и подтвердите почту</MudText>
    <MudText>Письмо обычно приходит в течении 5 минут, не забудьте проверить папку <b>Спам</b>. Если сообще все еще нет, можно его отправить заново</MudText><MudLink>тык</MudLink>
</div>
